.handSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.handGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
}

.hand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}
