.handSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.handGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  .heading,
  .hand {
    box-sizing: border-box;
    padding: 1rem 2rem;
    width: 100%;
  }

  .heading {
    h2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 0;
    }
    button {
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }

  .hand {
    overflow-x: auto;
    // white-space: nowrap;

    & > * {
      display: inline-block;
      vertical-align: top;
    }
  }
}
